
.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  margin: 0;
  padding: 0;
}

#primary {
  flex: 3;
  flex-direction: row;
  display: flex;
  height: 100vh; /* Full viewport height */
  margin: 0;
  padding: 0;
}

#diagnostics {
  flex: 1;
  overflow: auto; /* Adds scrollbars if content overflows */
}

#editor, #inspector {
  flex: 1;
  overflow: auto; /* Adds scrollbars if content overflows */
}

#editor {
  /* Additional styles for the editor, if needed */
}

#inspector {
  /* Additional styles for the inspector, if needed */
}
